:root {
    --preview-width: 25%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    max-width: 100%;
    box-sizing: border-box;
    transition: background-color 0.1s ease;
}

.control-panel {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 100%;
}
.control-panel label {
    display: block;
    margin-top: 10px;
}

.control-panel input {
    width: 100%;
}

#drop-zone {
    width: 100%;
    height: 200px;
    border: 2px dashed #666;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    /* background-color: #161616; */
    box-sizing: border-box;
}

#media-previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    gap: 10px;
}

.media-preview {
    flex: 1 1 calc(var(--preview-width) - 10px);
    max-width: calc(var(--preview-width) - 10px);
    aspect-ratio: 16 / 9;
    background-color: #161616;
    border-radius: 5px;
    overflow: hidden;
}

.media-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#time-display {
    font-size: 1em;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #161616;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#progress-bar {
    width: 100%;
    margin: 20px 0;
    -webkit-appearance: none;
    background: #4a4a4a;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#progress-bar:hover {
    opacity: 1;
}

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

#progress-bar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}