:root {
    --preview-width: 25%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    font-size: 13px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    max-width: 100%;
    box-sizing: border-box;
    transition: background-color 0.1s ease;
}

#video-previews {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}

.video-preview {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 160px; /* Minimum width for each preview */
    max-width: 700px;
    max-height: 350px;
    border-radius: 10px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.control-panel {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    width: 100%;
}
.control-panel label {
    display: block;
    margin-top: 10px;
}

.control-panel input {
    width: 100%;
}

#drop-zone {
    width: 100%;
    height: 100px;
    border: 2px dashed #666;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    /* background-color: #161616; */
    box-sizing: border-box;
}

#dropped-files-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#dropped-files-list li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between items as needed */
    color: #999;
    font-size: 0.7rem;
}

#media-previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    gap: 10px;
}

.media-preview {
    flex: 1 1 calc(var(--preview-width) - 10px);
    max-width: calc(var(--preview-width) - 10px);
    aspect-ratio: 16 / 9;
    background-color: #161616;
    border-radius: 5px;
    overflow: hidden;
}

.media-preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#time-display {
    font-size: 1em;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: #161616;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

/* Default (smaller) range input */
input[type="range"] {
    width: 100%;
    margin: 10px 0;
    -webkit-appearance: none;
    background: #4a4a4a;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 10px;
    padding: 3px;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

/* Large range input */
input[type="range"].large {
    margin: 20px 0;
    border-radius: 17px;
    padding: 5px;
}

input[type="range"].large::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
}

input[type="range"].large::-moz-range-thumb {
    width: 25px;
    height: 25px;
}


button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 1em;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}